
:root {
  /* variables for iOS components */
  --background-color: #00B2A0;
  --text-color: #fff;
  --sub-text-color: #999;
  --highlight-color: #FFA101;
  --second-highlight-color: #da5926;
  --border-color: rgba(36,36,36,0.32);
  --button-background-color: #F4C724;
  --button-cta-background-color: var(--second-highlight-color);
  --button-light-color: white;
  --toolbar-background-color: #00D5C3;
  --toolbar-button-color: #FFFFFF;
  --toolbar-text-color: #fff;
  --toolbar-border-color: rgba(13,13,13,0.5);
  --button-bar-color: #F4C724;
  --button-bar-active-text-color: #fff;
  --button-bar-active-background-color: rgba(215,174,24,1);
  --segment-color: #F4C724;
  --segment-active-text-color: #fff;
  --segment-active-background-color: rgba(209,170,27,1);
  --list-background-color: rgba(255,255,255,0.3);
  --list-header-background-color: rgba(8,141,128,1);
  --list-tap-active-background-color: #262626;
  --list-item-chevron-color: hsl(65.88,4.65%,20.98%);
  --progress-bar-color: var(--highlight-color);
  --progress-bar-secondary-color: color(var(--progress-bar-color) b(55%));
  --progress-bar-background-color: transparent;
  --progress-circle-primary-color: var(--progress-bar-color);
  --progress-circle-secondary-color: color(var(--progress-bar-secondary-color) b(55%));
  --progress-circle-background-color: transparent;
  --tabbar-background-color: rgba(255,255,255,0.78);
  --tabbar-text-color: #aaa;
  --tabbar-highlight-text-color: #FFA101;
  --tabbar-border-color: rgba(13,13,13,0.5);
  --switch-highlight-color: #FFC107;
  --switch-border-color: #666;
  --switch-background-color: var(--background-color);
  --range-track-background-color: #6B6F74;
  --range-track-background-color-active: #bbb;
  --range-thumb-background-color: #fff;
  --modal-background-color: color(black a(70%));
  --modal-text-color: #fff;
  --alert-dialog-background-color: rgba(255,255,255,0.71);
  --alert-dialog-text-color: #1f1f21;
  --alert-dialog-button-color: var(--highlight-color);
  --alert-dialog-separator-color: rgba(0,0,0,0.12);
  --dialog-background-color: rgba(255,255,255,0.71);
  --dialog-text-color: #000000;
  --popover-background-color: #00D5C3;
  --popover-text-color: var(--text-color);
  --action-sheet-title-color: #000000;
  --action-sheet-button-separator-color: rgba(0,0,0,0.12);
  --action-sheet-button-color: var(--highlight-color);
  --action-sheet-button-destructive-color: #fe3824;
  --action-sheet-button-background-color: rgba(255,255,255,0.71);
  --action-sheet-button-active-background-color: #E9E9E9;
  --action-sheet-cancel-button-background-color: rgba(255,255,255,0.89);
  --notification-background-color: #F4C724;
  --notification-color: white;
  --search-input-background-color: #00D5C3;
  --fab-text-color: #ffffff;
  --fab-background-color: var(--highlight-color);
  --fab-active-background-color: color(var(--fab-background-color) a(70%));
  --card-background-color: rgba(255,255,255,0.38);
  --card-text-color: var(--text-color);
  --toast-background-color: rgba(0,204,204,1);
  --toast-text-color: #000000;
  --toast-button-text-color: #000;
  --select-input-color: var(--text-color);
  --select-input-border-color: var(--border-color);

  /* variables for Material Design components */
  --material-background-color: #00B2A0;
  --material-text-color: #ffffff;
  --material-notification-background-color: #F4C724;
  --material-notification-color: white;
  --material-switch-active-thumb-color: #ffc107;
  --material-switch-active-background-color: color(var(--material-switch-active-thumb-color) a(50%));
  --material-switch-inactive-thumb-color: #bdbdbd;
  --material-switch-inactive-background-color: color(white a(30%));
  --material-range-track-color: #525252;
  --material-range-thumb-color: #F4C724;
  --material-range-disabled-thumb-color: #A9A9A9;
  --material-range-disabled-thumb-border-color: #A9A9A9;
  --material-range-zero-thumb-color: #0d0d0d;
  --material-toolbar-background-color: #00D5C3;
  --material-toolbar-text-color: #ffffff;
  --material-toolbar-button-color: var(--toolbar-button-color);
  --material-segment-background-color: #00D5C3;
  --material-segment-active-background-color: #F4C724;
  --material-segment-text-color: rgba(255,255,255,1);
  --material-segment-active-text-color: #FFFFFF;
  --material-button-background-color: #F4C724;
  --material-button-text-color: #ffffff;
  --material-button-disabled-background-color: rgba(244,199,36,0.62);
  --material-button-disabled-color: color(white a(74%));
  --material-flat-button-active-background-color: color(#666666 a(20%));
  --material-list-background-color: color(var(--material-background-color) l(+2%));
  --material-list-item-separator-color: color(white a(12%));
  --material-list-header-text-color: #8A8A8A;
  --material-checkbox-active-color: #FFA101;
  --material-checkbox-inactive-color: #F4C724;
  --material-checkbox-checkmark-color: #FFFFFF;
  --material-radio-button-active-color: #F4C724;
  --material-radio-button-inactive-color: #F4C724;
  --material-radio-button-disabled-color: rgba(80,80,80,0.6);
  --material-text-input-text-color: color(#fff a(75%));
  --material-text-input-active-color: color(#fff a(75%));
  --material-text-input-inactive-color: color(#fff a(30%));
  --material-search-background-color: #00D5C3;
  --material-dialog-background-color: rgba(255,255,255,0.58);
  --material-dialog-text-color: var(--material-text-color);
  --material-alert-dialog-background-color: rgba(255,255,255,0.58);
  --material-alert-dialog-title-color: white;
  --material-alert-dialog-content-color: color(var(--material-alert-dialog-title-color) a(85%));
  --material-alert-dialog-button-color: #D68600;
  --material-progress-bar-primary-color: #d68600;
  --material-progress-bar-secondary-color: color(var(--material-progress-bar-primary-color) b(55%));
  --material-progress-bar-background-color: transparent;
  --material-progress-circle-primary-color: var(--material-progress-bar-primary-color);
  --material-progress-circle-secondary-color: var(--material-progress-bar-secondary-color);
  --material-progress-circle-background-color: transparent;
  --material-tabbar-background-color: rgba(255,255,255,0.78);
  --material-tabbar-text-color: #AAAAAA;
  --material-tabbar-highlight-text-color: #FFA101;
  --material-tabbar-highlight-color: #00B2A0;
  --material-fab-text-color: #FFFFFF;
  --material-fab-background-color: #FFA101;
  --material-fab-active-background-color: rgba(255,161,1,0.7);
  --material-card-background-color: rgba(255,255,255,0.36);
  --material-card-text-color: rgba(255,255,255,1);
  --material-toast-background-color: rgba(0,204,204,1);
  --material-toast-text-color: rgba(230,26,26,1);
  --material-toast-button-text-color: #FFFFFF;
  --material-select-input-color: var(--material-text-color);
  --material-select-input-active-color: color(white a(85%));
  --material-select-input-inactive-color: color(white a(19%));
  --material-select-border-color: color(white a(88%));
  --material-popover-background-color: #00D5C3;
  --material-popover-text-color: rgba(255,255,255,1);
  --material-action-sheet-text-color: #686868;

  /* others */
  --tap-highlight-color: transparent;
}
